<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="true" version="3.0">
  <display-name>WebbFilm</display-name>
  <servlet>
    <servlet-name>MyMovies</servlet-name>
    <servlet-class>main.java.servlets.MyMovies</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMovie</servlet-name>
    <servlet-class>main.java.servlets.AddMovie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>main.java.servlets.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyMovies</servlet-name>
    <url-pattern>/MyMovies.servlet</url-pattern>
    <url-pattern>/MyMovies</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMovie</servlet-name>
    <url-pattern>/AddMovie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin.servlet</url-pattern>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <resource-env-ref>
    <resource-env-ref-name>jdbc/moviedb</resource-env-ref-name>
    <resource-env-ref-type>javax.sql.DataSource</resource-env-ref-type>
  </resource-env-ref>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>main.java.servlets.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleAuthQRGenerator</display-name>
    <servlet-name>GoogleAuthQRGenerator</servlet-name>
    <servlet-class>main.java.servlets.GoogleAuthQRGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleAuthQRGenerator</servlet-name>
    <url-pattern>/GoogleAuthQRGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUser</display-name>
    <servlet-name>RegisterUser</servlet-name>
    <servlet-class>main.java.servlets.RegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUser</servlet-name>
    <url-pattern>/RegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAuthSettings</display-name>
    <servlet-name>UserAuthSettings</servlet-name>
    <servlet-class>main.java.servlets.UserAuthSettings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAuthSettings</servlet-name>
    <url-pattern>/UserAuthSettings</url-pattern>
  </servlet-mapping>
</web-app>